<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" id="navbar">
    
    <a
      routerLink="/"
      class="
        d-flex
        align-items-center
        mb-3 mb-md-0
        me-md-auto
        text-dark text-decoration-none">
      <span class="fs-4 px-5" routerLink="/">Shoppers</span>
    </a>
  
    <!--<nav class="navbar navbar-light" id="nav-cat">
      <form class="form-inline">
        <button
          class="btn btn-sm btn-outline-secondary"
          type="button"
          routerLink="laptops">
          Laptops
        </button>

        <button
          class="btn btn-sm btn-outline-secondary"
          type="button"
          routerLink="smartphones">
          Smartphones
        </button>

        <button
          class="btn btn-sm btn-outline-secondary"
          type="button"
          routerLink="peripherals">
          Peripherals
        </button>
      </form>
    </nav>-->
  
    <ul class="nav nav-pills px-5">
      <li class="nav-item">
        <a routerLink="/checkout" id="cart" class="nav-link active" aria-current="page"
          ><i class="material-icons mx-4">Shopping Cart</i></a
        >
      </li>
    </ul>
  </header>
  